@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(11, 11, 11);
    padding-top: 10vh;
}

nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(11, 11, 11);
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #62a9ff;
    text-shadow: 0 0 10px #6284ff;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: 3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #6284ff;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: #6284ff;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(30%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover {
    background-color: #6284ff;
}

section {
    width: 100%;
    height: 90vh;
}


.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image {
    width: 500px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 50px #3a3a3a;
    position: relative;
}

.main-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: #62a9ff;
    text-shadow: 0 0 10px #6284ff;
}

.content .typewriter {
    font-size: clamp(1rem, 1rem + 3vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text {
    color: #62a9ff;
    text-shadow: 0 0 10px #6284ff;
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #6284ff;
    border-radius: 50%;
    color: #6284ff;
    margin: 5px 15px;
    margin-top: -50px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: rgb(255, 255, 255);
    background-color: #6284ff;
    filter: drop-shadow(0 0 10px #6284ff);
}

.content button {

    width: 45%;
    height: 6vh;
    margin-top: 30px;
    margin-right: 2%;
    margin-bottom: 30px;
    background-color: #62a9ff;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    color: white;
    border: 2px solid #6284ff;
    background-color: 6284ff;
    font-weight: 700;
    box-shadow: 0 0 40px #3a3a3a;
}


@media (max-width:884px) {
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        display: block;
    }

    .main-container .content {
        width: 80%;
    }

    .content .typewriter {
        font-size: clamp(1rem, 1rem + 1.9vw, 2.5rem);
        font-weight: 600;
    }


    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        margin-bottom: 10%;
    }

    .main-container .image {
        width: 50%;
        aspect-ratio: 1;
    }
}

@media (max-width:440px) {
    .main-container .image {
        width: 50%;
        aspect-ratio: 1;
    }

    .main-container .content {
        width: 80%;
    }

    .main-container button {
        width: 47%;
        font-size: 14px;
        margin-top: 2%;
        margin-right: 1%;
    }
}

.sobre-mim {
    width: 100%;
    padding: 60px 20px;
    color: white;
}

.sobre-mim-container {
    color: white;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.sobre-mim h2 {
    font-size: clamp(1.5rem, 2rem, 3rem);
    color: #62a9ff;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #6284ff;
}

.sobre-mim p {
    font-size: clamp(1rem, 1rem + 1vw, 1.3rem);
    color: #ddd;
    line-height: 1.6;
    margin-bottom: 20px;
}

.sobre-mim {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 884px) {
    .sobre-mim-container {
        margin-top: 100px;
        width: 90%;
    }
}

@media (max-width: 440px) {
    .sobre-mim-container {
        margin-top: 100px;
        width: 95%;
    }
}

#habilidades {
    width: 100%;
    padding: 60px 20px;
    background-color: rgb(11, 11, 11);
    color: #62a9ff;
    font-weight: bold;
    text-shadow: 0 0 10px #6284ff;
}

.habilidades-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.habilidades-container h2 {
    font-size: clamp(1.5rem, 2rem, 3rem);
    color: #62a9ff;
    font-weight: bold;
    text-shadow: 0 0 10px #6284ff;
    margin-bottom: 30px;
    margin-top: -350px;
}

.habilidades-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.habilidade {
    width: 20%;
    margin: 20px 0;
    margin-right: 1%;
    padding: 20px;
    background-color: #1d1d1d;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: 0.3s ease;
}

.habilidade:hover {
    scale: 1.1;
    font-weight: 700;
    box-shadow: 0 0 40px #3a3a3a;

}

.habilidade i {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #6284ff;
}

.habilidade svg {
    font-size: 3rem;
    margin-bottom: 14px;
    color: #6284ff;

}

.habilidade h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.habilidade p {
    font-size: 1rem;
    color: #ddd;
    line-height: 1.6;
}

@media (max-width: 884px) {
    #habilidades {
        margin-top: 50px;
        margin-bottom: -40px;
    }

    .habilidade {
        width: 45%;
    }
}

@media (max-width: 440px) {
    .habilidade {
        width: 90%;
    }
}

#projetos {
    width: 100%;
    padding: 60px 20px;
    background-color: rgb(11, 11, 11);
    color: white;
}

.projetos-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.projetos-container h2 {
    font-size: clamp(1.5rem, 2rem, 3rem);
    color: #62a9ff;
    margin-bottom: 40px;
    font-weight: bold;
    text-shadow: 0 0 10px #6284ff;
}

.projeto-item {
    color: white;
    width: 45%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: 0.3s ease;
}

.projeto-item:hover {
    scale: 1.1;
    font-weight: 700;
    box-shadow: 0 0 40px #3a3a3a;
}

.projeto-info {
    padding: 20px;
}

.projeto-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #62a9ff;
}

.projeto-info p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ddd;
}

.links-projeto a {
    text-decoration: none;
    color: #62a9ff;
    font-weight: 500;
    margin-right: 10px;
    transition: 0.3s linear;
}

.links-projeto a:hover {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 884px) {
    .projetos-container {
        width: 90%;
    }

    .projeto-item {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 440px) {

    .projeto-item {
        width: 100%;
        margin: 20px 0;
    }

    .projeto-info h3 {
        font-size: 1.2rem;
    }

    .projeto-info p {
        font-size: 0.9rem;
    }
}


#contato {
    width: 100%;
    padding: 60px 20px;
    background-color: rgb(11, 11, 11);
    color: white;
}

.contato-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.contato-container h2 {
    font-size: clamp(1.5rem, 2rem, 3rem);
    color: #62a9ff;
    margin-bottom: 40px;
    margin-top: -100px;
    font-weight: bold;
    text-shadow: 0 0 10px #6284ff;
}

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form-group {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ddd;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1d1d1d;
    color: white;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #62a9ff;
    outline: none;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.btn-enviar {
    background-color: #62a9ff;
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-enviar:hover {
    background-color: #6284ff;
    transform: scale(1.05);
}

@media (max-width: 884px) {

    .form-group input,
    .form-group textarea {
        max-width: 90%;
    }

    .btn-enviar {
        width: 90%;
    }
}

@media (max-width: 440px) {

    .form-group input,
    .form-group textarea {
        max-width: 100%;
    }

    .btn-enviar {
        width: 100%;
    }
}